{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Geetham Veg Restaurant</title>
    <style>
        img{
            border-radius: 10%;
        }
        p{
            color: #05522a;
            font-size: larger;
        }
        
    </style>
</head>
<body bgcolor="#E35335">
    <center>
    <h2>Geetham Veg Restaurant</h2>
    <img src="{% static 'geetham-veg.png' %}" width="600" height="400">
    <p>Location: Situated at Ganapathy Nagar, 150 Feet Bypass Road, Velachery, Chennai.

Timings: Open daily from 6:00 a.m. to 12:00 a.m.

Cuisine: Pure-vegetarian restaurant serving South Indian, North Indian, Oriental dishes, chaat, sandwiches, and more.

Specialties: Popular items include dosa, idli, vada, kurma, appam, and grilled sandwiches.

Ambience: Clean and hygienic with a family-friendly atmosphere.

Background: Earlier operated as a Sangeetha outlet, later renamed to Geetham; food quality remains consistent.

Reviews: Known for wide variety, value for money, and customizable food options</p>
    </center>
</body>
</html>