{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GRT Jewellery</title>
    <style>
        img{
            border-radius: 10%;
        }

        p{
            font-size: larger;
        }
    </style>
</head>
<body bgcolor="#FFC000">
    <center>
    <h2>GRT Jewellery</h2>
    <img src="{% static 'grtjewellery.png' %}" width="600" height="400">
    <p>Located on 100-ft Bypass Road, Velachery, Chennai.

Open daily from 10:00 AM to 9:30 PM.

Offers a wide range of jewellery in gold, diamond, platinum, and silver.

Designs include both traditional collections and modern, trendy styles for weddings, daily wear, and special occasions.

Provides gold savings and monthly scheme options for customers.

Known for polite and patient staff who guide customers with multiple choices.

Popular among locals for its trusted quality, hallmark certification, and wide variety.

Facilities include parking and comfortable seating inside the showroom.

Well-rated by customers for service and product quality.

Some drawbacks noted are long waiting times during peak hours and limited variety in certain sections like silver</p>
    </center>
</body>
</html>