{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guru Nanak College</title>
    <style>
        body{
            background-color: #ffffff;
        }
        img{
            border-radius: 10%;
            font-size: larger;
        }
    </style>
</head>
<body>
    <center>
    <h2>Guru Nanak College</h2>
    <img src="{% static 'gurunanak-college.jpg' %}" width="600" height="400">
    <p>Established: 1971, by the Guru Nanak Educational Society, in memory of Guru Nanak Devji’s 500th birth anniversary.

Affiliation & Status: Autonomous institution affiliated to the University of Madras; accredited with ‘A’ Grade by NAAC.

Campus & Location: Spread across 25 acres in Velachery, Chennai, located between Raj Bhavan and IIT-Madras.

Motto: “Pro Bono Publico” (For the Benefit of All).

Courses Offered: Offers undergraduate, postgraduate, M.Phil, Ph.D., and several certificate/value-added programs.

Facilities: Well-equipped classrooms, laboratories, library, auditorium, canteen, and good transport connectivity.

Values & Inclusivity: Open to students of all backgrounds; has a Gurudwara and Langar facility; focuses on holistic and value-based education.

Reputation: Known for academic excellence, inclusivity, and strong placement support; considered a respected institution in Chennai.</p>
    </center>
</body>
</html>