{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Phoenix Mall</title>
    <style>
        p{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: darkmagenta;
        }

        h1{
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            
        }

    </style>
</head>
<body bgcolor="lavender">
    <center>
        <h1>PHOENIX MALL</h1>
        <img src="{% static 'Phoenix-mall.jpg' %}" width="600px">
        <br>
    </center>
    <p>Located on Velachery Main Road, Chennai.

Opened in January 2013.

Spread over 1 million sq ft with multiple floors and large multi-level parking.

Houses 250–300+ shops with Indian and international brands; anchors include fashion, lifestyle, and electronics outlets.

Offers a variety of dining options: food court, fine-dining restaurants, and cafes.

Entertainment facilities include a large multiplex cinema (including IMAX) and a family entertainment zone with kids’ play areas.

Open daily from 10:00 AM to 10:00 PM.

One of Chennai’s largest and busiest malls, popular for shopping, dining, and leisure</p>
    
</body>
</html>