{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Westin</title>
    <style>
        p{
            color: #f8e622;
            font-size: 25px;
        }
    </style>
</head>
<body bgcolor="#6495ED">
    <center>
    <h2>Westin</h2>
    <img src="{% static 'westin.png' %}" width="600" height="400">
    <p>Located on Velachery Main Road, Chennai.

A 5-star luxury hotel that opened in 2013.

Offers 215 rooms and suites with city or pool views.

Has multiple dining options including international cuisine, Pan-Asian restaurant, sports bar/lounge, and poolside grill.

Facilities include an outdoor swimming pool, fitness centre, spa, executive lounge, and spacious event halls.

Popular among both business and leisure travellers due to modern amenities and good connectivity.</p>
    </center>
    
</body>
</html>